<div class="main-container">
    <div class="main-container">
        <h2 class="color-blue">Anmeldung</h2>
        <span>Wir empfehlen dir die Email zu nutzen, die du bei der Arbeit verwendest.</span>
        <app-input [placeholder]="'max-mustermann@mustermail.com'" [img]="'email.svg'"></app-input>
        <app-input [placeholder]="'Password'" [img]="'password.svg'"></app-input>
        <a href="">Passwort vergessen</a>
        <div class="separating-line-container">
            <div></div>
            <span>ODER</span>
            <div></div>
        </div>
        <div class="google-sign-in">
            <img src="./assets/img/logos/google.svg" alt="google-logo">
            <span>Anmelden mit Google</span>
        </div>
        <div class="button-container">
            <button>Anmelden</button>
            <button>Gäste-Login</button>
        </div>
    </div>
</div>