@import "../shared/styles/mix-in.scss";
@import "../shared/styles/color.scss";

.main-container {
    >span {
        width: 350px;
    }
}

.separating-line-container {
    @include dFlex($jc: none, $g: 12px);
    >div {
        width: 124px;
        height: 1px;
        background-color: black;
    }
}

.google-sign-in {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    width: 315px;
    height: 40px;
    cursor: pointer;
    @include dFlex($g: 12px);
    >span {
        color: $blue;
    }
    >img {
        height: 38px;
        width: 38px;
    }
    .github-logo {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.button-container {
    @include dFlex($ai: none, $g: 24px);
}

app-input {
    padding-left: 38px
}

.d_none {
  display: none !important;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: backgroundTransition 2s ease forwards;
  }

.loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: -1;
    animation: backgroundTransition 2s ease forwards;
}

.loader-image {
    position: absolute;
    animation: logoTransition 2s ease forwards;
}

@keyframes logoTransition {
  0% {
    top: 50%;
    left: 50%;
    width: 274px;
    height: 334px;
    transform: translate(-50%, -50%);
  }
  
  100% {
    top: 12px;
    left: 12px;
    width: 100px;
    height: 122px;
    opacity: 0;
    }
}

@keyframes backgroundTransition {
  0% {
    background-color: #313AE5;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

.error-message {
  color: red;
}