@import "./../shared/styles/mix-in.scss";
@import "./../shared/styles/color.scss";

span {
  display: flex;
  text-align: center;
}

.send-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.content {
    @include dFlex($f: column, $g: 18px);
    padding: 125px;
}