@import "./../shared/styles/mix-in.scss";
@import "./../shared/styles/color.scss";

span {
  display: flex;
  text-align: center;
}

.send-button {
    @include dFlex($jc: flex-end, $ai: none);
    position: relative;
    bottom: -75px;
    width: 100%;
}

.content {
    @include dFlex($f: column, $g: 18px);
    background-color: white;
    padding: 98px 18px;
    border-radius: 58px;
}