.emoji-row {
  position: absolute;
  top: -20px;
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 5px, $f: row);
  // flex-wrap: wrap;
  padding: 3px 15px 3px 20px;
  border: 1px solid $light-purple;
  background-color: $white;
  z-index: 3;
  border-radius: 25px 25px 0 25px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(20px);
  @include transition();
  
  &.emoji-row-closed {
    width: fit-content;
  }
  
  &.emoji-row-open {
    width: 70%;
    flex-wrap: wrap;
    max-height: 150px;
    // justify-content: flex-start;
  }
  
  &.emoji-row-left-aligned {
    left: 30px;
  }
  
  &.emoji-row-right-aligned {
    right: 60px;
  }
  
  &.make-visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
  
.emoji-icon {
  // display: inline-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $white;
  padding: 8px 8px 9px;
  cursor: pointer;
  font-size: 24px;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji", sans-serif;
  user-select: none;
  @include transition();
  // flex-shrink: 0;
}
  
.top-emojis.emoji-icon:hover {
  background-color: $grey;
}
  
.bottom-toggle-icon {
  @include hover-image-swap(37px, 37px);
  border-radius: 50%;
  background-color: $white;
}
  
.toggle-icon {
  @include hover-image-swap(40px, 40px);
}
  
.thread-reactions {
  max-width: 315px;
}
  
.message-reactions {
  max-width: 85%;
}
  
.reactions {
  position: relative;
  padding-top: 6px;
  @include dFlex($jc: flex-start, $ai: center, $g: 12px, $f: row);
  flex-wrap: wrap;
  
  &.reactions-right-aligned {
    justify-content: flex-end;
  }
  
  &.reactions-left-aligned {
    left: 80px;
  }
  
  .bottom-emoji-wrapper {
    padding: 3px 10px 5px;
    border: 1px solid $light-purple;
    background-color: $white;
    width: fit-content;
    border-radius: 20px;
    position: relative;
  
    @include dFlex($jc: flex-start, $ai: center, $g: 10px, $f: row);
    cursor: pointer;
  
    &:hover {
      border-color: $purple-2;
    }
    
    &.selected {
      border-color: $purple-3;
    }
  
    .bottom-emoji {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $white;
      font-size: 24px;
      font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji", sans-serif;
      user-select: none;
    }
  
    .count {
      @include text-style(16px, 400, $black);
      border-radius: 50%;
    }
  
    .bottom-emoji-tooltip {
      position: absolute;
      bottom: 33px;
      left: 30px;
      width: 158px;
      height: 112px;
      // // padding: 15px 10px;
      padding: 12px 6px;
      border-radius: 30px 30px 30px 0;
      background-color: $purple-1;
      word-wrap: break-word;
      box-sizing: border-box;
      z-index: 4;
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      @include dFlex($jc: flex-start, $ai: center, $g: 10px, $f: column);
      @include transition();
  
      &::-webkit-scrollbar {
        display: none;
      }
  
      .tooltip-emoji {
        display: inline-flex; // TODO block oder flex?
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji", sans-serif;
        display: inline-block; // TODO block oder flex?
        line-height: 1;
        }
  
      .tooltip-names {
        @include text-style(15px, 600, $white);
        text-align: center;
          line-height: 130%;
      }
  
      .tooltip-text {
        @include text-style(15px, 400, $white);
        text-align: center;
          line-height: 160%;
      }
    }
  }
  
  .reduce-gap {
    position: relative;
    right: 6px;
  }
}
  
.emojis-shown-btn {
  height: 34px;
  background: none;
  border: none;
  padding: 5px 10px;
  border: 1px solid $light-purple;
  background-color: $white;
  width: fit-content;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @include text-style(16px, 400, $black);
  cursor: pointer;
  @include transition();
  
  &:hover {
    border-color: $purple-2;
  }
  
  &:active {
    border-color: $purple-3;
  }
}
  
.toggle-icon-wrapper {
  position: relative;
  display: inline-block;
} 
