<div class="impressum-container">


    <div class="impressum-content">
        <button class="back-button" (click)="goBack()">
            <span>←</span>
        </button>

        <h1>Impressum</h1>


        <div class="developers-info">
            <p><strong>DaBubble Entwickler:</strong></p>
            <p>Emrah Okur</p>
            <p>Marco Lenschau</p>
            <p>Martin Messirek</p>
            <p>Martin Sinner</p>
        </div>

        <div class="contact-info">
            <h2>Contact:</h2>
            <div class="email-list">
                <p>Email: <a href="mailto:okur.emrah@web.de">okur.emrah&#64;web.de</a></p>
                <p>Email: <a href="mailto:contact@marco-lenschau.de">contact&#64;marco-lenschau.de</a></p>
                <p>Email: <a href="mailto:martinmessirek@hotmail.com">martinmessirek&#64;hotmail.com</a></p>
                <p>Email: <a href="mailto:contact@martin-sinner.com">contact&#64;martin-sinner.com</a></p>
            </div>
        </div>
    </div>
</div>