<div class="thread-container">
  <div class="thread-content">
    <div class="thread-header">
      <div class="thread-header-content">
        <div class="thread-header-content-text">
          <h2>Thread</h2>
          <p>#</p>
          <p>Entwicklerteam</p>
        </div>

        <img src="" alt="X" />
      </div>
    </div>

    <!-- <div class="thread-messages">
      <div
        class="top-message"
        (mouseenter)="hovered = true"
        (mouseleave)="resetHoverState()"
        [ngClass]="{ 'hover-message': hovered }"
      >
        <img class="message-img" src="" alt="" />
        <div class="message-body">
          <div class="message-body-header">
            <h4>Noah Braun</h4>
            <p>14:24 Uhr</p>
          </div>
          <p class="thread-message-text">Lorem ipsum dolor sit?</p>
        </div>
      </div>

      <div class="thread-replies-divider">
        <p>3 Antworten</p>
        <div class="line"></div>
      </div>

      <div class="thread-replies">
        <div
          (mouseenter)="hovered = true"
          (mouseleave)="resetHoverState()"
          [ngClass]="{ 'hover-message': hovered }"
        >
          <img class="message-img" src="" alt="" />
          <div class="message-body">
            <div class="message-body-header">
              <h4>Sofia Müller</h4>
              <p>15:31 Uhr</p>
            </div>

            <p class="reply-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
              corrupti quasi eum at veritatis ea reiciendis placeat ipsam
              accusamus deserunt! Atque, placeat quia.
            </p>
          </div>
        </div>
        <div
          (mouseenter)="hovered = true"
          (mouseleave)="resetHoverState()"
          [ngClass]="{ 'hover-message': hovered }"
        >
          <img class="message-img" src="" alt="" />
          <div class="message-body">
            <div class="message-body-header">
              <h4>Anna Müller</h4>
              <p>15:37 Uhr</p>
            </div>

            <p class="reply-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex,
              temporibus? Libero, accusamus. Odio dolor odit totam perspiciatis
              consequatur ipsam illo, doloremque expedita deserunt?
            </p>
          </div>
        </div>

        <div class="my-reply">
          <img class="message-img" src="" alt="" />
          <div class="message-body my-message-body">
            <div class="message-body-header my-message-body-header">
              <h4>Frederik Beck</h4>
              <p>15:44 Uhr</p>
            </div>

            <p class="my-reply-text">Ja genau</p>
          </div>
        </div>
      </div>
    </div> -->

    <div class="thread-messages">
      <ng-container *ngFor="let msg of messages; let i = index">
        <div
          class="message-wrapper"
          [ngClass]="{
            'thread-message': !msg.isSelf,
            'own-message': msg.isSelf,
            'hover-message': msg.hovered
          }"
          (mouseenter)="setHoverState(i, true)"
          (mouseleave)="setHoverState(i, false)"
        >
          <img class="message-img" src="" alt="Profilbild {{ msg.name }}" />
          <div
            class="message-body"
            [ngClass]="{ 'own-message-body': msg.isSelf }"
          >
            <div
              class="message-body-header"
              [ngClass]="{ 'own-message-body-header': msg.isSelf }"
            >
              <h4>{{ msg.name }}</h4>
              <p>{{ msg.time }}</p>
            </div>
            <p
              class="thread-message-text"
              [ngClass]="{ 'own-message-text': msg.isSelf }"
            >
              {{ msg.text }}
            </p>
          </div>
        </div>

        <div *ngIf="i === 0" class="thread-replies-divider">
          <p>{{ messages.length - 1 }} Antworten</p>
          <div class="line"></div>
        </div>
      </ng-container>
    </div>

    <div class="thread-textarea">
      <textarea name="" id="" placeholder="Antworten..."></textarea>
    </div>
  </div>
</div>
