<div class="thread-container">
  <div class="thread-content">
    <div class="thread-header">
      <div class="thread-header-content">
        <div class="thread-header-content-text">
          <h2>Thread</h2>
          <p>#</p>
          <p>Entwicklerteam</p>
        </div>
        <div class="close-button" (click)="closeThread()">
          <img src="assets/img/close/close.svg" class="default" />
          <img src="assets/img/close/close-hover.svg" class="hover" />
        </div>
      </div>
    </div>

    <div class="thread-messages">
      <ng-container *ngFor="let msg of messages; let i = index">
        <div
          class="message-wrapper"
          [ngClass]="{
            'thread-message': !msg.isSelf,
            'own-message': msg.isSelf,
            'hover-message': hoveredIndex === i,
            'thread-starter': msg.isThreadStarter,
          }"
          (mouseenter)="setHoverState(i)"
          (mouseleave)="setHoverState(null)"
        >
          <img class="message-img" src="" alt="Profilbild {{ msg.name }}" />
          <div
            class="message-body"
            [ngClass]="{ 'own-message-body': msg.isSelf }"
          >
            <div
              class="message-body-header"
              [ngClass]="{ 'own-message-body-header': msg.isSelf }"
            >
              <h4 (click)="openUserDialog()">{{ msg.name }}</h4>
              <p>{{ formatTime(msg.timestamp) }}</p>
            </div>
            <p
              class="thread-message-text"
              [ngClass]="{ 'own-message-text': msg.isSelf }"
            >
              {{ msg.text }}
            </p>
          </div>
          <div class="emoji-row">
            <ng-container *ngIf="emojiMenuOpen[i]">
              <img
                *ngFor="let emoji of emojis"
                [src]="emoji.src"
                [alt]="emoji.name"
                class="emoji-icon"
              />
            </ng-container>
            <div class="toggle-icon" (click)="toggleEmojiMenu(i)">
              <img
                src="assets/img/message-icons/add-reaction.svg"
                class="default"
              />
              <img
                src="assets/img/message-icons/add-reaction-hover.svg"
                class="hover"
              />
            </div>

            <!-- <img
              src="assets/img/message-icons/add-reaction.svg"
              alt="Reaktion hinzufügen"
              class="emoji-icon"
              (click)="toggleEmojiMenu(i)"
            /> -->
          </div>
        </div>

        <div *ngIf="i === 0" class="thread-replies-divider">
          <p>{{ messages.length - 1 }} Antworten</p>
          <div class="line"></div>
        </div>

        <!-- <div class="reactions" *ngIf="msg.reactions?.length">
          <div
            *ngFor="let reaction of msg.reactions"
            class="emoji-wrapper"
            [class.has-hover]="getEmojiByName(reaction.emojiName)?.hoverSrc"
          >
            <img
              [src]="getEmojiByName(reaction.emojiName)?.src"
              class="default"
              alt="Emoji {{ reaction.emojiName }}"
            />
            <img
              *ngIf="getEmojiByName(reaction.emojiName)?.hoverSrc"
              [src]="getEmojiByName(reaction.emojiName)?.hoverSrc"
              class="hover"
              alt="Emoji Hover {{ reaction.emojiName }}"
            />
            <span class="count">{{ reaction.count }}</span>
          </div>
        </div> -->
      </ng-container>
    </div>

    <div class="thread-textarea">
      <textarea name="" id="" placeholder="Antworten..."></textarea>
    </div>
  </div>
</div>
