<div class="thread-container">
  <div class="thread-content">
    <div class="thread-header">
      <div class="thread-header-content">
        <div class="thread-header-content-text">
          <h2>Thread</h2>
          <p>#</p>
          <p>Entwicklerteam</p>
        </div>

        <img src="" alt="X" />
      </div>
    </div>
    <!-- <div class="shadow"></div> -->

    <div class="thread-messages">
      <div class="top-message">
        <img class="message-img" src="" alt="" />
        <div class="message-body">
          <div class="message-body-header">
            <h4>Noah Braun</h4>
            <p>14:24 Uhr</p>
          </div>
          <p class="thread-message-text">Lorem ipsum dolor sit?</p>
        </div>
      </div>

      <div class="thread-replies-divider">
        <p>2 Antworten</p>
        <div class="line"></div>
      </div>

      <div class="thread-replies">
        <div>
          <img class="message-img" src="" alt="" />
          <div class="message-body">
            <div class="message-body-header">
              <h4>Sofia Müller</h4>
              <p>15:31 Uhr</p>
            </div>

            <p class="reply-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
              corrupti quasi eum at veritatis ea reiciendis placeat ipsam
              accusamus deserunt! Atque, placeat quia.
            </p>
          </div>
        </div>

        <div class="my-reply">
          <img class="message-img" src="" alt="" />
          <div class="message-body my-message-body">
            <div class="message-body-header my-message-body-header">
              <h4>Frederik Beck</h4>
              <p>15:44 Uhr</p>
            </div>

            <p class="my-reply-text">Ja genau</p>
          </div>
        </div>
      </div>
    </div>

    <div class="thread-textarea">
      <textarea name="" id="" placeholder="Antworten..."></textarea>
    </div>
  </div>
</div>
