@import "./../../shared/styles/mix-in.scss";
@import "./../../shared/styles/color.scss";

* {
  margin: 0;
}

.thread-container {
  background-color: #ffffff;
  width: 485px;
  height: 940px;
  border-radius: 30px;
}

.thread-content {
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 0px, $f: column);
  padding: 24px 0;
  height: 100%;
}

.thread-header {
  height: 107px;
  width: 100%;
  box-shadow: 0px 2px 10px 0px #00000014;
  clip-path: inset(0px 0px -10px 0px);

  .thread-header-content {
    width: 100%;
    @include dFlex($jc: space-between, $ai: center, $g: 0px, $f: row);
    padding: 32px 40px;

    .thread-header-content-text {
      @include dFlex($jc: flex-start, $ai: center, $g: 5px, $f: row);

      h2 {
        @include text-style(24px, 700, $black);
      }

      p {
        @include text-style(14px, 400, $purple-2);
      }
    }
  }

  .close-button {
    @include hover-image-swap(40px, 40px);
  }
}

:host {
  display: block;
  @include transition();
}

:host(.visible) {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

:host(.hidden) {
  opacity: 0;
  transform: translateX(300px);
  pointer-events: none;
}

.thread-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 22px;
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 20px, $f: column);
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  scrollbar-width: none;

  -ms-overflow-style: none;

  // &::-webkit-scrollbar {
  //   width: 6px;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: rgba(0, 0, 0, 0.2);
  //   border-radius: 3px;
  // }

  // scrollbar-width: thin;
  // scrollbar-color: rgba(0, 0, 0, 0.2) transparent;

  .message-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $purple-2;
  }

  .message-body {
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 8px, $f: column);

    .message-body-header {
      @include dFlex($jc: flex-start, $ai: center, $g: 20px, $f: row);

      h4 {
        @include text-style(18px, 700, $black);

        &:hover {
          cursor: pointer;
          color: $purple-1;
        }
      }

      p {
        @include text-style(14px, 400, $text-gray);
        cursor: default;
      }
    }

    .own-message-body-header {
      @include dFlex($jc: flex-start, $ai: center, $g: 20px, $f: row-reverse);
    }
  }

  .own-message-body {
    @include dFlex($jc: flex-start, $ai: flex-end, $g: 8px, $f: column);
  }

  .message-wrapper {
    position: relative;
  }

  .thread-message {
    padding: 12px 40px 12px;
    width: 100%;
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 20px, $f: row);

    &.has-reactions {
      padding-bottom: 50px;
    }

    // &.thread-starter {
    //   padding-bottom: 12px;
    // }

    // &:not(.thread-starter) {
    //   margin-bottom: 16px;
    // }
  }
}

.own-message {
  padding: 12px 40px 12px;
  width: 100%;
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 20px, $f: row-reverse);

  &.has-reactions {
    padding-bottom: 50px;
  }
}

.thread-replies-divider {
  padding: 0px 40px 0px;
  width: 100%;
  @include dFlex($jc: flex-start, $ai: center, $g: 20px, $f: row);

  p {
    white-space: nowrap;
    @include text-style(18px, 400, $light-purple);
  }

  .line {
    flex-grow: 1;
    height: 0;
    border-top: 1px solid $light-purple;
  }
}

.thread-message-text {
  border-radius: 0 20px 20px 20px;
  background-color: $grey;
  padding: 15px;
  max-width: 100%;
  width: fit-content;
  @include text-style(14px, 400, $black);
  cursor: default;

  &.own-message-text {
    border-radius: 20px 0 20px 20px;
    background-color: $purple-2;
    @include text-style(14px, 400, $white);
  }
}

.own-message-text {
  border-radius: 20px 0 20px 20px;
  background-color: $purple-2;
  @include text-style(14px, 400, $white);
}

.hover-message {
  background-color: $grey;
  @include transition();

  &:not(.own-message) {
    .thread-message-text {
      background-color: $white;
      @include transition();
    }
  }
}

.emoji-row {
  //!!!!!!!
  position: absolute;
  top: -20px;
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 5px, $f: row);
  padding: 3px 15px 3px 20px;
  border: 1px solid $light-purple;
  background-color: $white;
  width: fit-content;
  border-radius: 25px 25px 0 25px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(20px);
  @include transition();

  &.emoji-row-left-aligned {
    left: 30px;
  }

  &.emoji-row-right-aligned {
    right: 60px;
  }

  &.make-visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.emoji-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $white;
  padding: 8px;
  cursor: pointer;
  @include transition();
}

.top-emojis.emoji-icon:hover {
  //!!!!!!!!!!!
  background-color: $grey;
}

.bottom-toggle-icon {
  @include hover-image-swap(37px, 37px);
  border-radius: 50%;
  background-color: $white;
}

.bottom-emojis {
  width: 24px;
  height: 24px;
}

.toggle-icon {
  @include hover-image-swap(40px, 40px);
}
// .message-height {
//   height: 80px;
//   width: 10px;
//   background-color: red;
// }
.reactions {
  position: absolute;
  bottom: 6px;
  @include dFlex($jc: flex-start, $ai: center, $g: 12px, $f: row);

  // &.increase-gap {
  //   bottom: -32px;
  // }

  &.reactions-right-aligned {
    right: 115px;
  }

  &.reactions-left-aligned {
    left: 125px;
  }

  .bottom-emoji-wrapper {
    padding: 5px 10px;
    border: 1px solid $light-purple;
    background-color: $white;
    width: fit-content;
    border-radius: 20px;
    position: relative;

    @include dFlex($jc: flex-start, $ai: center, $g: 10px, $f: row);
    // width: 24px;
    // height: 24px;
    cursor: pointer;

    img {
      // position: absolute;
      // width: 100%;
      // height: 100%;
      // top: 0;
      // left: 0;
      // transition: opacity 0.3s ease;
    }

    .count {
      // position: absolute;

      @include text-style(16px, 400, $black);

      border-radius: 50%;

      // width: 16px;
      // height: 16px;
      // text-align: center;
      // line-height: 16px;
      // pointer-events: none;
    }

    .bottom-emoji-tooltip {
      position: absolute;
      bottom: 34px;
      left: 30px;
      width: 158px;
      height: 112px;
      padding: 15px 10px;
      border-radius: 30px 30px 30px 0;
      background-color: $purple-1;
      word-wrap: break-word;
      box-sizing: border-box;
      z-index: 2;
      // border: 5px solid $purple-1;
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      @include dFlex($jc: flex-start, $ai: center, $g: 10px, $f: column);

      // .scroll-container {
      //   height: 112px;
      // padding-bottom: 4px;
      // border: 4px solid $purple-1;
      // scroll-padding-bottom: 6px;

      .tooltip-emoji {
        width: 30px;
        height: 30px;
      }

      .tooltip-names {
        @include text-style(18px, 700, $white);
        text-align: center;
        line-height: 130%;
      }

      .tooltip-text {
        @include text-style(16px, 400, $white);
        text-align: center;
        line-height: 160%;
      }
      // }
    }
  }

  .reduce-gap {
    position: relative;
    right: 6px;
  }
}

.thread-textarea {
  width: 100%;
  padding: 24px 20px;

  textarea {
    width: 100%;
    height: 145px;
    overflow-wrap: break-word;
    resize: none;
    overflow: hidden;
    padding: 15px;
    border-color: $light-purple;
    border-radius: 20px;

    @include text-style(18px, 400, $black);

    &:focus {
      outline: none;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
  }

  textarea::placeholder {
    font-family: "Nunito", sans-serif;
    @include text-style(18px, 400, $text-gray);
  }
}
