@import "../styles/mix-in.scss";

header {
    @include dFlex($jc: space-between);
    background-color: #ECEEFE;
    margin: -8px;
    padding: 12px 24px;
    >.sign-in-page {
        @include dFlex($jc: none, $g: 12px, $f: column);
    }
    >.user-login-menu {
        @include dFlex($jc: none, $g: 12px);
    }
}

a {
    &:hover {
        color: white;
    }
}