<header>
    <img src="./assets/img/header/logo.svg" alt="logo">
    <div class="sign-in-page" *ngIf="router.isSignInPage()">
        <span>Neu bei DABubble?</span>
        <a (click)="router.switchRoute('sign-up')">Konto erstellen</a>
    </div>
    <div *ngIf="router.isMainPage()">
        <app-input [placeholder]="'Devspace durchsuchen'" [img]="'./assets/img/input/search.svg'" [reverse]="true" [height]="48"></app-input>
    </div>
    <div class="user-login-menu" *ngIf="router.isMainPage()">
        <span>{{user.displayName}}</span>
        <img class="user-image" [src]="user.photoURL" alt="user-image">
        <img (click)="openDialog();" src="./assets/img/header/arrow-down.svg" alt="arrow-down">
    </div>
</header>