@import "../styles/mix-in.scss";
@import "../styles/mix-in.scss";
@import "../styles/breakpoint.scss";

header {
    @include dFlex($jc: space-between);
    background-color: #ECEEFE;
    // margin: -8px;
    padding: 12px 24px;
    >.sign-in-page {
        @include dFlex($jc: none, $g: 12px, $f: column);
    }
    >.user-login-menu {
        @include dFlex($jc: none, $g: 12px);
    }
}

a {
    &:hover {
        color: white;
    }
}

.user-image {
    height: 64px;
    border-radius: 100%;
}

@media (max-width: $mobile-xl) {
    header {
        display: none; // zum Testen
    }
}