<header>
    <img src="./assets/img/header/logo.svg" alt="logo">
    <div class="sign-in-page" *ngIf="router.isSignInPage()">
        <span>Neu bei DABubble?</span>
        <a (click)="router.switchRoute('sign-up')">Konto erstellen</a>
    </div>
    <div *ngIf="router.isMainPage()">
        <!-- <app-input [placeholder]="'Devspace durchsuchen'" [img]="'./assets/img/input/search.svg'" [reverse]="true"
            [height]="48" (inputEvent)="onSearch($event)">
        </app-input> -->
        <div class="header-search-input">
            <input placeholder="Devspace durchsuchen" type="text" (input)="onSearch($event.target)" (click)="toggleOverlay()">
            <img src="./assets/img/input/search.svg" alt="search">
            <div class="search-overlay" *ngIf="showOverlay" tabindex="1">
                <div class="search-suggestions">
                    <div *ngFor="let suggestion of searchSuggestions" (click)="selectSuggestion(suggestion)" (keydown.enter)="selectSuggestion(suggestion)" tabindex="0" class="search-suggestion">
                        <p *ngIf="suggestion.text">
                            Message: {{ suggestion.text }}
                            From: {{ suggestion.name }}
                            At: {{ getReciverNameById(suggestion.receiverId) }} 
                        </p>
                        <p *ngIf="!suggestion.text">{{ suggestion.name || suggestion.email }}</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-login-menu" *ngIf="router.isMainPage()">
        <span *ngIf="user">{{user.displayName}}</span>
        <img class="user-image" *ngIf="user" [src]="user.photoURL" alt="user-image">
        <img (click)="openDialog();" src="./assets/img/header/arrow-down.svg" alt="arrow-down">
    </div>
</header>