@import "../styles/mix-in.scss";
@import "../styles/color.scss";
@import "../styles/breakpoint.scss";

header {
    @include dFlex($jc: space-between);
    background-color: #ECEEFE;
    // margin: -8px;
    padding: 40px;

    >.sign-in-page {
        @include dFlex($jc: none, $g: 12px, $f: column);
    }

    >.user-login-menu {
        @include dFlex($jc: none, $g: 12px);
    }
}


.sign-in-page {
    font-family: 'Nunito';

    >span {
        font-size: 18px;
    }
}

a {
    color: $purple-1;

    &:hover {
        color: $text-gray;
    }
}

.user-image {
    height: 64px;
    border-radius: 100%;
}

.header-search-input {
    position: relative;

    input {
        width: 989px;
        height: 70px;
        padding: 8px 16px;
        border: 1px solid #ccc;
        border-radius: 42px;
        font-size: 16px;
    }

    img {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

.search-overlay {
    position: absolute;
    top: 68px;
    left: 24px;
    width: 95%;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
}

.search-suggestions {
    max-height: 300px;
    overflow-y: auto;
}

.search-suggestions div {
    padding: 12px 24px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.search-suggestions div:hover {
    background: #f5f5f5;
}

@media (max-width: $mobile-xl) {
    header {
        display: none; // zum Testen
    }
}