<div class="main-div">
    <div class="d_flex_s_b">
        <h3>Dein Profil bearbeiten</h3>
        <button (click)="dialogClose();">X</button>
    </div>
    <div class="image-container">
        <img src="{{user.img}}" alt="user-image">
    </div>
    <div>
        <img src="./assets/img/account.svg" alt="account-icon">
        <span>Vollständiger Name</span>
    </div>
    <app-input [placeholder]="'Dein Name hier'" [img]="'none'" [value]="user.name"></app-input>
    <div class="action-buttons">
        <app-button [text]="'Abrechen'" [color]="'secondary'" (clicked)="dialogClose();"></app-button>
        <app-button [text]="'Speichern'" [color]="'primary'" (clicked)="userSave();"></app-button>
    </div>
</div>
