<div class="main-div">
    <div class="d_flex_s_b">
        <h3>Dein Profil bearbeiten</h3>
        <button>X</button>
    </div>
    <img src="{{user.img}}" alt="">
    <div>
        <img src="./assets/img/account.svg" alt="account-icon">
        <span>Vollständiger Name</span>
    </div>
    <app-input [placeholder]="'Dein Name hier'" [img]="'none'" [value]="user.name"></app-input>
    <div class="action-buttons">
        <app-button [text]="'Abrechen'" [color]="'secondary'" (click)="dialogClose();"></app-button>
        <app-button [text]="'Speichern'" [color]="'primary'"></app-button>
    </div>
</div>
