@import "../../shared/styles/color.scss";
@import "../../shared/styles/mix-in.scss";
@import "../../shared/styles/flexbox.scss";

.main-div {
    padding: 12px;
    @include dFlex($jc: none, $ai: none, $f: column, $g: 12px);
    >div {
        @include dFlex($jc: none, $g: 12px);
    }
}

.action-buttons {
    @include dFlex($g: 12px);
    >button {
        height: 25px;
    }
}

.image-container {
    display: flex;
    justify-content: center;
    >img {
        height: 94px;
        width: 94px;
        border-radius: 100%;
    }
}

.input-field {
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 0;
    height: 46px;
    margin: 0 16px;
    padding: 0 22px;
}