.audio-player {
    background-color: rgba(0, 0, 0, 0.15);
    width: 164px;
    height: 64px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    .play-button {
        width: 32px;  
        margin: 8px 16px;
        padding: 6px;
        border: 0;
        border-radius: 50%;
    }
    
    img {
        height: 20px;
        width: 24px;
        display: flex;
    }
}
.time-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 36px;
    >.time-info {
        display: flex;
        gap: 8px;
    }

    >.progress-bar {
        width: 100%;
        height: 6px;
        background: #ddd;
        border-radius: 3px;
        cursor: pointer;
    }

}

.progress {
    height: 100%;
    background: #3f51b5;
    border-radius: 3px;
    width: 0%;  
}