<div class="main-container">
    <div class="content">
        <app-input #emailRef (valueChange)="setValue($event); validate($event);" 
        [placeholder]="'max-mustermann@mustermail.com'" [img]="'./assets/img/input/email.svg'" [height]="48"></app-input>
        <span *ngIf="!emailSend">Wir senden ihnen eine E-Mail, über die <br>Sie ihr Passwort ändern können.</span>
        <div class="send-button">
            <app-button [text]="'E-Mail senden'" [color]="'primary'" (clicked)="resetPassword();"></app-button>
        </div>
        <span *ngIf="emailSend">{{emailMessage}}</span>
    </div>
</div>