@import "./../../shared/styles/mix-in.scss";
@import "./../../shared/styles/color.scss";
@import "./../../shared/styles/breakpoint.scss";

:host {
  flex: 1;
  min-width: 0;
  display: block;
  @include transition();
}

:host(.visible) {
  opacity: 1;
    pointer-events: auto;
  flex: 1;
  min-width: 0;
}

:host(.hidden) {
  opacity: 0;
  pointer-events: none;
  flex: 0 !important;
  width: 0 !important;
  overflow: hidden;
  max-width: 0;
}

@media (max-width: $mobile-xl) {
  :host {
    @include slow-transition();
  }
}