<div class="main-message-box" [ngStyle]="{ padding: mainMessageBoxPadding }">
  <!-- Eingabefeld -->
  <div
    class="textarea"
    contenteditable="true"
    #editableDiv
    [attr.placeholder]="placeholder"
    (input)="onInput($event)"
  ></div>

  <!-- Mention-Dropdown bei @ -->
  <div
    class="search-results"
    *ngIf="filteredMentionUsers.length"
    [style.top.px]="mentionBoxPosition.top"
    [style.left.px]="mentionBoxPosition.left"
  >
    <ul>
      <li *ngFor="let user of filteredMentionUsers" (click)="selectMentionUser(user)">
        <strong>&#64;{{ user.displayName }}</strong>
      </li>
    </ul>
  </div>

  <!-- Benutzer-Dropdown durch Icon -->
  <div
    class="search-results"
    *ngIf="showUserDropdown"
    style="top: 100%; left: 16px;"
  >
    <ul>
      <li *ngFor="let user of allUsers" (click)="selectUserFromSmiley(user)">
        <strong>&#64;{{ user.displayName }}</strong>
      </li>
    </ul>
  </div>

  <!-- Linke Icons im Eingabefeld -->
  <div class="textarea-left-icons">
    <img
      src="assets/img/message-icons/smiley2.svg"
      (click)="toggleMainEmojiMenu($event)"
    />
    <img
      src="assets/img/message-icons/smiley.svg"
      (click)="toggleUserDropdown($event)"
    />
  </div>

  <!-- Emoji Picker -->
  <div
    #emojiPicker
    class="emoji-picker"
    *ngIf="mainEmojiMenuOpen"
    (click)="$event.stopPropagation()"
  >
    <span
      *ngFor="let emoji of sortedEmojis"
      class="emoji-icon"
      (click)="addEmojiToMainMessage(emoji.unicode)"
      title="{{ emoji.name }}"
    >
      {{ emoji.unicode }}
    </span>
  </div>

  <!-- Rechter Senden-Button -->
  <div class="textarea-send-button" (click)="sendMessage()">
    <img src="assets/img/message-icons/Send icon.svg" />
  </div>
</div>
