<div class="main-message-box" #chatDiv tabindex="0" [ngStyle]="{ padding: mainMessageBoxPadding }">

  <!-- Eingabefeld + Placeholder -->
  <div class="textarea-wrapper">
   <div
  class="textarea"
  [attr.contenteditable]="messageContext ? 'true' : null"
  [class.disabled]="!messageContext"
  #editableDiv
  (input)="messageContext ? onInput($event) : null"
  [attr.data-placeholder]="placeholder"
></div>


  </div>

  <!-- Mention-Dropdown bei @ -->
  <div class="search-results" *ngIf="filteredMentionUsers.length" [style.top.px]="mentionBoxPosition.top"
    [style.left.px]="mentionBoxPosition.left">
    <ul>
      <li class="profile-user" *ngFor="let user of filteredMentionUsers" (click)="selectMentionUser(user)">
        <div class="profile-icon">
          <img class="profile-pic" [src]="user.photoURL || 'assets/img/profilepic/fallback.png'"
            alt="{{ user.displayName }}" />
          <img *ngIf="user.state" class="profile-online" src="assets/img/profilepic/online-user.png" alt="online" />
        </div>
        <div class="mention-user-name">{{ user.displayName }}</div>
      </li>
    </ul>
  </div>

  <!-- Benutzer-Dropdown durch Icon -->
  <div class="search-results" *ngIf="showUserDropdown" style="top: 100%; left: 16px;">
    <ul>
      <li class="profile-user" *ngFor="let user of allUsers" (click)="selectUserFromSmiley(user)">
        <div class="profile-icon">
          <img class="profile-pic" [src]="user.photoURL || 'assets/img/profilepic/fallback.png'"
            alt="{{ user.displayName }}" />
          <img *ngIf="user.state" class="profile-online" src="assets/img/profilepic/online-user.png" alt="online" />
        </div>
        <div class="mention-user-name">{{ user.displayName }}</div>
      </li>
    </ul>
  </div>

  <!-- Linke Icons im Eingabefeld -->
  <div class="textarea-left-icons">
    <img src="assets/img/message-icons/smiley2.svg" (click)="toggleMainEmojiMenu($event)" />
    <img src="assets/img/message-icons/smiley.svg" (click)="toggleUserDropdown($event)" />
  </div>

  <!-- Emoji Picker -->
  <div #emojiPicker class="emoji-picker" *ngIf="mainEmojiMenuOpen" (click)="$event.stopPropagation()">
    <span *ngFor="let emoji of sortedEmojis" class="emoji-icon" (click)="addEmojiToMainMessage(emoji.unicode, emoji)"
      title="{{ emoji.name }}">
      {{ emoji.unicode }}
    </span>
  </div>

  <!-- Senden -->
  <div
  class="textarea-send-button"
  [class.disabled]="!messageContext"
  (click)="messageContext ? sendMessage() : null"
>
    <span *ngIf="messageAudio.record">{{ messageAudio.formatTime(messageAudio.elapsedSeconds) }}</span>
    <img *ngIf="messageAudio.record" (click)="messageAudio.endRecord(messageAudio.recorder, messageAudio.stream)"
      class="audio-message trash-img" src="assets/img/audio-message/trash.png" />
    <img *ngIf="textInput.length === 0" (click)="messageAudio.record ? sendAudioMessage() : messageAudio.startRecord()"
      class="audio-message mic-img" src="assets/img/audio-message/microphone.png" />
    <img *ngIf="!messageAudio.record && textInput.length > 0" src="assets/img/message-icons/Send icon.svg" />
  </div>
</div>