<!-- <div class="main-component">
  <app-devspace></app-devspace>
  <app-message (threadStart)="onThreadStart($event)"></app-message>
  <app-thread
    [starterMessage]="starterMessage"
    [userId]="userId"
    [ngClass]="{ visible: showThread, hidden: !showThread }"
    (showThreadChange)="showThread = $event"
  ></app-thread>
</div> -->

<div class="main-component">
  <app-devspace></app-devspace>
  <app-message-window
    (threadStart)="onThreadStart($event)"
  ></app-message-window>
  <app-thread-window
    [starterMessage]="starterMessage"
    [userId]="userId"
    [ngClass]="{ visible: showThread, hidden: !showThread }"
    (showThreadClosing)="onThreadClose()"
  ></app-thread-window>
</div>
