@import "./../shared/styles/mix-in.scss";
@import "./../shared/styles/color.scss";
@import "./../shared/styles/breakpoint.scss";

.main-component {
  box-sizing: border-box;
  @include dFlex($jc: flex-start, $ai: center, $g: 0, $f: row);
  padding: 20px;
  overflow: hidden;
  // padding: 20px 28px; //margin -8px miteingerechnet
}

.mobile-header {
  height: 80px;
  width: 100%;
  padding: 0 24px;
  @include dFlex($jc: space-between, $ai: center, $g: 0, $f: row); // zum Testen
  
  button {
    cursor: pointer;
  }
}

.spacer {
  width: 20px; 
  flex-shrink: 0;
}

@media (max-width: $mobile-xl) {
  .main-component {
      height: calc(100vh - 80px);
      padding: 0;
  }
}
