<ng-container *ngIf="viewMode === 'desktop'">
  <div class="main-component">
    <app-devspace (channelSelected)="onChannelSelected($event)" (contextSelected)="onContextSelected($event)"
      (closeThreadWindow)="onThreadClose()"></app-devspace>
    <app-message-window (threadStart)="onThreadStart($event)" [activeChannel]="activeChannel"
      (showThreadClosing)="onThreadClose()" [messageContext]="messageContext"
      (contextSelected)="onContextSelected($event)"></app-message-window>
    <app-thread-window [starterMessage]="starterMessage" [userId]="userId"
      [ngClass]="{ visible: showThread, hidden: !showThread }"
      (showThreadClosing)="onThreadClose()"></app-thread-window>
  </div>
</ng-container>

<ng-container *ngIf="viewMode === 'tablet'">
  <div class="main-component">
    <app-devspace (channelSelected)="onChannelSelected($event)" (contextSelected)="onContextSelected($event)"
      [ngClass]="{ visible: !showThread, hidden: showThread }"></app-devspace>
    <app-message-window (threadStart)="onThreadStart($event)" [activeChannel]="activeChannel"
      (showThreadClosing)="onThreadClose()" [messageContext]="messageContext"
      (contextSelected)="onContextSelected($event)"></app-message-window>
    <app-thread-window [starterMessage]="starterMessage" [userId]="userId"
      [ngClass]="{ visible: showThread, hidden: !showThread }"
      (showThreadClosing)="onThreadClose()"></app-thread-window>
  </div>
</ng-container>

<ng-container *ngIf="viewMode === 'mobile'">
  <div class="main-component">
    <app-devspace (channelSelected)="onChannelSelected($event)" (contextSelected)="onContextSelected($event)"
      (closeThreadWindow)="onThreadClose()"></app-devspace>
    <app-message-window (threadStart)="onThreadStart($event)" [activeChannel]="activeChannel"
      (showThreadClosing)="onThreadClose()" [messageContext]="messageContext"
      (contextSelected)="onContextSelected($event)"></app-message-window>
    <app-thread-window [starterMessage]="starterMessage" [userId]="userId"
      [ngClass]="{ visible: showThread, hidden: !showThread }"
      (showThreadClosing)="onThreadClose()"></app-thread-window>
  </div>
</ng-container>