@import "./../shared/styles/mix-in.scss";
@import "./../shared/styles/color.scss";

.main-component {
  box-sizing: border-box;
  @include dFlex($jc: flex-start, $ai: center, $g: 0, $f: row);
  padding: 20px 28px; //margin -8px miteingerechnet
}

.mobile-header {
  height: 80px; // zum Testen
  // height: 40px;
  width: 100%;
}

.spacer {
  width: 20px; 
  flex-shrink: 0;
}

