@import "./../../shared/styles/mix-in.scss";
@import "./../../shared/styles/color.scss";
@import "./../../shared/styles/breakpoint.scss";

:host {
  display: block;
  @include transition();
}

:host(.visible) {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  width: 485px;
}

:host(.hidden) {
  opacity: 0;
  transform: translateX(300px);
  pointer-events: none;
  width: 0;
  overflow: hidden;
}


// Responsiveness

@media (max-width: $tablet-md) {

  
}

@media (min-width: ($mobile-xl + 1)) and (max-width: $tablet-md) {
  :host(.visible) {
    width: 424px;
  }
}




@media (max-width: $mobile-xl) {
  :host {
    @include slow-transition();
  }

  :host(.visible) {
    flex: 1;
  }

  :host(.hidden) {
     flex: 0;
  }
}

