@import "./../../../shared/styles/mix-in.scss";
@import "./../../../shared/styles/color.scss";
@import "./../../../shared/styles/breakpoint.scss";

* {
  margin: 0;
}

:host {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  // padding-top: 22px;
}


.date-divider {
  padding: 12px 35px 0;
  width: 100%;
  @include dFlex($jc: center, $ai: center, $g: 0px, $f: row);
  @include text-style(18px, 400, $black);
}

.date-text {
  padding: 5px 15px;
  border: 1px solid $light-purple;
  border-radius: 30px;
}

.date-line {
  flex: 1;
  height: 1px;
  background-color: $light-purple;
}


.thread-padding-top {
  width: 100%;
  height: 5px;
}

.message-padding-top {
  flex: 1 0 auto;
}

app-single-message {
  width: 100%;
}

.thread-messages {
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 20px, $f: column);
  height: 100%;
  flex: 1 1 auto;
  opacity: 0;
  
  &.ready {
    opacity: 1;
  }
}

.thread-replies-divider {
  padding: 0px 40px 0px;
  width: 100%;
  @include dFlex($jc: flex-start, $ai: center, $g: 20px, $f: row);

  p {
    white-space: nowrap;
    @include text-style(18px, 400, $light-purple);
  }

  .line {
    flex-grow: 1;
    height: 0;
    border-top: 1px solid $light-purple;
  }
}

.intro {
  font-family: 'Nunito', sans-serif;
  padding: 0 40px 32px;
  @include dFlex($jc: flex-end, $ai: flex-start, $g: 10px, $f: column);
}

.intro-img-box {
  @include dFlex($jc: flex-start, $ai: flex-end, $g: 25px, $f: row);
}

.user-avatar {
  width:100px; 
  height:100px; 
  border-radius:50%; 
}

.intro-name {
  @include text-style(24px, 700, $black);
        font-family: 'Nunito', sans-serif;
}

.intro-channel-text {
  @include text-style(20px, 400, $black);
}

.intro-text {
  @include text-style(20px, 400, $text-gray);
}

.intro-channel-text .purple-color, .intro-text .purple-color {
  color: $purple-3;
}

.intro-text .bold {
  font-weight: 700;
}

@media (min-width: ($mobile-xl + 1)) and (max-width: $tablet-md) {
  .date-divider {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

@media (max-width: $mobile-xl) {
  .empty-messages-name { // ??
    font-size: 20px;
  }

  .user-avatar { 
    width:88px; 
    height:88px;
  }
}

@media (max-width: $mobile-md) {
  .date-divider { 
    padding-left: 5vw;
    padding-right: 5vw;
  }
}