@import "./../../../shared/styles/mix-in.scss";
@import "./../../../shared/styles/color.scss";
@import "./../../../shared/styles/breakpoint.scss";

* {
  margin: 0;
}

:host {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  // padding-top: 22px;
}


.date-divider {
  padding: 12px 35px 0;
  width: 100%;
  @include dFlex($jc: center, $ai: center, $g: 0px, $f: row);
  @include text-style(18px, 400, $black);
}

.date-text {
  padding: 5px 15px;
  border: 1px solid $light-purple;
  border-radius: 30px;
}

.date-line {
  flex: 1;
  height: 1px;
  background-color: $light-purple;
}


// .padding-top {
//   width: 100%;
//   height: 5px;
// }

.thread-messages {
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 20px, $f: column);
  height: 100%;
  flex: 1 1 auto;
  opacity: 0;
  &.ready {
    opacity: 1;
  }

  .message-img {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 50%;

    background-color: $purple-2;
  }

  .message-body {
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 8px, $f: column);
    min-width: 0;
    flex: 1; 

    .message-body-header {
      @include dFlex($jc: flex-start, $ai: center, $g: 20px, $f: row);

      h4 {
        @include text-style(18px, 700, $black);
        flex-shrink: 1;
        min-width: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; 
        line-clamp: 2;           
        overflow: hidden;
        word-break: break-word;           
        overflow-wrap: break-word;        
        text-overflow: ellipsis;          
        max-width: 100%;
        line-height: 1.2;

        &:hover {
          cursor: pointer;
          color: $purple-1;
        }
      }

      p {
        @include text-style(14px, 400, $text-gray);
        width: 64px;
        cursor: default;
      }
    }

    .own-message-body-header {
      @include dFlex($jc: flex-start, $ai: center, $g: 20px, $f: row-reverse);
    }
  }

  .own-message-body {
    @include dFlex($jc: flex-start, $ai: flex-end, $g: 8px, $f: column);
  }

  .message-wrapper {
    position: relative;

    width: 100%;
    padding: 12px 40px 16px;
  }

  .hover-message-wrapper {
    background-color: $grey;
    @include transition();

    &.not-own-message {
      .thread-message-text {
        background-color: $white;
        @include transition();
      }
    }
  }

  .hover-thread-message {
    width: 100%;
  }

  .hover-own-message {
    width: 100%;
  }

  .thread-message {
    width: 100%;
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 20px, $f: row);
  }
}

.own-message {
  width: 100%;
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 20px, $f: row-reverse);
}

.replies-info-container {
  @include dFlex($jc: flex-start, $ai: center, $g: 20px, $f: row);
}

.show-replies-button {
  @include text-style(18px, 400, $purple-3);
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-align: left;
  cursor: pointer;

  &::after {
    content: attr(data-text);      
    font-weight: 700;              
    visibility: hidden;            
    height: 0;                     
    overflow: hidden;
    display: block;                
  }
  
  &:hover {
    font-weight: 700;
  }
}

.last-answer-time {
  @include text-style(14px, 400, $text-gray);
}


.thread-replies-divider {
  padding: 0px 40px 0px;
  width: 100%;
  @include dFlex($jc: flex-start, $ai: center, $g: 20px, $f: row);

  p {
    white-space: nowrap;
    @include text-style(18px, 400, $light-purple);
  }

  .line {
    flex-grow: 1;
    height: 0;
    border-top: 1px solid $light-purple;
  }
}

.thread-message-text {
  border-radius: 0 20px 20px 20px;
  background-color: $grey;
  padding: 15px;
  max-width: 100%;
  width: fit-content;
  @include text-style(18px, 400, $black);
  cursor: default;
  line-height: 1.2;
  max-height: 500px;
  overflow-y: auto;
  word-break: break-word;     
  overflow-wrap: break-word; 
  scrollbar-width: none; 
  -ms-overflow-style: none;  
    
  &.own-message-text {
    border-radius: 20px 0 20px 20px;
    background-color: $purple-2;
    @include text-style(18px, 400, $white);
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.emoji-row {
  position: absolute;
  top: -20px;
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 5px, $f: row);
  padding: 3px 15px 3px 20px;
  border: 1px solid $light-purple;
  background-color: $white;
  z-index: 3;
  border-radius: 25px 25px 0 25px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(20px);
  @include transition();

  &.emoji-row-closed {
    width: fit-content;
  }

  &.emoji-row-open {
    width: 70%;
    flex-wrap: wrap;
    max-height: 150px;
  }

  &.emoji-row-left-aligned {
    left: 30px;
  }

  &.emoji-row-right-aligned {
    right: 60px;
  }

  &.make-visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.emoji-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $white;
  padding: 8px 8px 9px;
  cursor: pointer;
  font-size: 24px;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji", sans-serif;
  user-select: none;
  @include transition();
}

.top-emojis.emoji-icon:hover {
  background-color: $grey;
}

.bottom-toggle-icon {
  @include hover-image-swap(37px, 37px);
  border-radius: 0%;
  background-color: $white;
}

.toggle-icon {
  @include hover-image-swap(40px, 40px);
}

.thread-reactions {
  max-width: 315px;
}

.message-reactions {
  max-width: 85%;
}

.reactions {
  position: relative;
  padding-top: 6px;
  @include dFlex($jc: flex-start, $ai: center, $g: 12px, $f: row);
  flex-wrap: wrap;

  &.reactions-right-aligned {
    justify-content: flex-end;
  }

  &.reactions-left-aligned {
    left: 80px;
  }

  .bottom-emoji-wrapper {
    padding: 3px 10px 5px;
    border: 1px solid $light-purple;
    background-color: $white;
    width: fit-content;
    border-radius: 20px;
    position: relative;

    @include dFlex($jc: flex-start, $ai: center, $g: 10px, $f: row);
    cursor: pointer;

    &:hover {
      border-color: $purple-2;
    }
  
    &.selected {
      border-color: $purple-3;
    }

    .bottom-emoji {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $white;
      font-size: 24px;
      font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji", sans-serif;
      user-select: none;
    }

    .count {
      @include text-style(16px, 400, $black);
      border-radius: 50%;
    }

    .bottom-emoji-tooltip {
      position: absolute;
      bottom: 33px;
      left: 30px;
      width: 158px;
      height: 112px;
      // padding: 15px 10px;
      padding: 12px 6px;
      border-radius: 30px 30px 30px 0;
      background-color: $purple-1;
      word-wrap: break-word;
      box-sizing: border-box;
      z-index: 4;
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      @include dFlex($jc: flex-start, $ai: center, $g: 10px, $f: column);
      @include transition();

      &::-webkit-scrollbar {
        display: none;
      }

      // &.overflowing-right {
      //   transform: translateX(-35%);
      // }

      .tooltip-emoji {
        display: inline-flex; // TODO block oder flex?
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji", sans-serif;
        display: inline-block; // TODO block oder flex?
        line-height: 1;
      }

      .tooltip-names {
        @include text-style(15px, 600, $white);
        text-align: center;
        line-height: 130%;
      }

      .tooltip-text {
        @include text-style(15px, 400, $white);
        text-align: center;
        line-height: 160%;
      }
    }
  }

  .reduce-gap {
    position: relative;
    right: 6px;
  }
}

.emojis-shown-btn {
  height: 34px;
  background: none;
  border: none;
  padding: 5px 10px;
  border: 1px solid $light-purple;
  background-color: $white;
  width: fit-content;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @include text-style(16px, 400, $black);
  cursor: pointer;
  @include transition();

  &:hover {
    border-color: $purple-2;
  }

  &:active {
    border-color: $purple-3;
  }
}

.toggle-icon-wrapper {
  position: relative;
  display: inline-block;
}

.toggle-icon-wrapper {
  position: relative;
  display: inline-block;
}

.edit-menu {
  position: absolute;
  top: 62px;
  left: 0px;
  background-color: white;
  color: #141d2f;
  padding: 12px 24px;
   border-radius: 11px 25px 25px 25px;
  font-size: 20px;
  white-space: nowrap;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  z-index: 100;
  cursor: pointer;

 
  &::before {
    display: none;
  }

  &:hover {
    background-color: #f4f4f4;
  }
}
.edit-container {
  padding-top: 8px;
}

.edit-box {
  background-color: white;
  border: 1px solid #d1d1e0;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

.edit-textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 1.5;
  color: #141d2f;
  font-family: inherit;
}

.edit-actions {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-end;
}

.emoji-icon {
  font-size: 20px;
  margin-right: auto;
  cursor: pointer;
}

.cancel-btn {
  padding: 8px 16px;
  border: 1px solid #4d5eff;
  background-color: transparent;
  color: #4d5eff;
  font-size: 14px;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cancel-btn:hover {
  background-color: #eef0ff;
}

.save-btn {
  padding: 8px 16px;
  background-color: #4d5eff;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.save-btn:hover {
  background-color: #3d4be0;
}


@media (max-width: $tablet-md) {

  .thread-reactions,  
  .message-reactions {
    max-width: 75%;
  }
}

@media (min-width: ($mobile-xl + 1)) and (max-width: $tablet-md) {
  .thread-messages .message-wrapper, .date-divider {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

@media (max-width: $mobile-xl) {

  .thread-message-text,
  .thread-message-text.own-message-text {
    font-size: 17px;
  }
}

@media (max-width: $mobile-md) {
  .thread-messages .message-wrapper, .date-divider {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .thread-messages .message-img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: $mobile-sm) {
  .show-replies-button {
    font-size: 16px;
  }

  .thread-messages .message-img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: $mobile-xs) {
  .thread-messages .thread-message, .own-message {
    gap: 16px
  }

  .thread-messages .message-body .message-body-header, .thread-messages .message-body .own-message-body-header {
    gap: 8px
  }

  .replies-info-container {
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 6px, $f: column);
  }
}

@media (max-width: $mobile-xxs) {
  .thread-messages .message-body .message-body-header  {
        @include dFlex($jc: flex-start, $ai: flex-start, $g: 2px, $f: column);
  }
   
  .thread-messages.own-message-body .own-message-body-header {
        @include dFlex($jc: flex-start, $ai: flex-start, $g: 2px, $f: column-reverse);
  } 
}