@import "./../../../shared/styles/mix-in.scss";
@import "./../../../shared/styles/color.scss";

* {
  margin: 0;
}

:host {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  // padding-top: 22px;
}


.date-divider {
  width: 100%;
  @include dFlex($jc: center, $ai: center, $g: 0px, $f: row);
  @include text-style(18px, 400, $black);
}

.date-text {
  padding: 5px 15px;
  border: 1px solid $light-purple;
  border-radius: 30px;


}

.date-line {
  flex: 1;
  height: 1px;
  background-color: $light-purple;
}

.date-divider {

}

.padding-top {
  width: 100%;
  height: 5px;
}

.thread-messages {
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 20px, $f: column);

  .message-img {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 50%;

    background-color: $purple-2;
  }

  .message-body {
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 8px, $f: column);

    .message-body-header {
      @include dFlex($jc: flex-start, $ai: center, $g: 20px, $f: row);

      h4 {
        @include text-style(18px, 700, $black);

        &:hover {
          cursor: pointer;
          color: $purple-1;
        }
      }

      p {
        @include text-style(14px, 400, $text-gray);
        cursor: default;
      }
    }

    .own-message-body-header {
      @include dFlex($jc: flex-start, $ai: center, $g: 20px, $f: row-reverse);
    }
  }

  .own-message-body {
    @include dFlex($jc: flex-start, $ai: flex-end, $g: 8px, $f: column);
  }

  .message-wrapper {
    position: relative;

    width: 100%;
    padding: 12px 40px 16px;
  }

  .hover-message-wrapper {
    background-color: $grey;
    @include transition();

    &.not-own-message {
      .thread-message-text {
        background-color: $white;
        @include transition();
      }
    }
  }

  .hover-thread-message {
    width: 100%;
  }

  .hover-own-message {
    width: 100%;
  }

  .thread-message {
    width: 100%;
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 20px, $f: row);
  }
}

.own-message {
  width: 100%;
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 20px, $f: row-reverse);
}

.thread-replies-divider {
  padding: 0px 40px 0px;
  width: 100%;
  @include dFlex($jc: flex-start, $ai: center, $g: 20px, $f: row);

  p {
    white-space: nowrap;
    @include text-style(18px, 400, $light-purple);
  }

  .line {
    flex-grow: 1;
    height: 0;
    border-top: 1px solid $light-purple;
  }
}

.thread-message-text {
  border-radius: 0 20px 20px 20px;
  background-color: $grey;
  padding: 15px;
  max-width: 100%;
  width: fit-content;
  @include text-style(14px, 400, $black);
  cursor: default;

  &.own-message-text {
    border-radius: 20px 0 20px 20px;
    background-color: $purple-2;
    @include text-style(14px, 400, $white);
  }
}

.emoji-row {
  position: absolute;
  top: -20px;
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 5px, $f: row);
  padding: 3px 15px 3px 20px;
  border: 1px solid $light-purple;
  background-color: $white;
  z-index: 3;
  border-radius: 25px 25px 0 25px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(20px);
  @include transition();

  &.emoji-row-closed {
    width: fit-content;
  }

  &.emoji-row-open {
    width: 70%;
    flex-wrap: wrap;
    max-height: 150px;
  }

  &.emoji-row-left-aligned {
    left: 30px;
  }

  &.emoji-row-right-aligned {
    right: 60px;
  }

  &.make-visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.emoji-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $white;
  padding: 8px 8px 9px;
  cursor: pointer;
  font-size: 24px;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji", sans-serif;
  user-select: none;
  @include transition();
}

.top-emojis.emoji-icon:hover {
  background-color: $grey;
}

.bottom-toggle-icon {
  @include hover-image-swap(37px, 37px);
  border-radius: 50%;
  background-color: $white;
}

.toggle-icon {
  @include hover-image-swap(40px, 40px);
}

.thread-reactions {
  max-width: 315px;
}

.message-reactions {
  max-width: 85%;
}

.reactions {
  position: relative;
  padding-top: 6px;
  @include dFlex($jc: flex-start, $ai: center, $g: 12px, $f: row);
  flex-wrap: wrap;

  &.reactions-right-aligned {
    justify-content: flex-end;
  }

  &.reactions-left-aligned {
    left: 80px;
  }

  .bottom-emoji-wrapper {
    padding: 3px 10px 5px;
    border: 1px solid $light-purple;
    background-color: $white;
    width: fit-content;
    border-radius: 20px;
    position: relative;

    @include dFlex($jc: flex-start, $ai: center, $g: 10px, $f: row);
    cursor: pointer;

    .bottom-emoji {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $white;
      font-size: 24px;
      font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji", sans-serif;
      user-select: none;
    }

    .count {
      @include text-style(16px, 400, $black);
      border-radius: 50%;
    }

    .bottom-emoji-tooltip {
      position: absolute;
      bottom: 34px;
      left: 30px;
      width: 158px;
      height: 112px;
      // padding: 15px 10px;
      padding: 12px 6px;
      border-radius: 30px 30px 30px 0;
      background-color: $purple-1;
      word-wrap: break-word;
      box-sizing: border-box;
      z-index: 4;
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      @include dFlex($jc: flex-start, $ai: center, $g: 10px, $f: column);
      @include transition();

      &.overflowing-right {
        transform: translateX(-35%);
      }

      .tooltip-emoji {
        display: inline-flex; // TODO block oder flex?
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji", sans-serif;
        display: inline-block; // TODO block oder flex?
        line-height: 1;
      }

      .tooltip-names {
        @include text-style(15px, 600, $white);
        text-align: center;
        line-height: 130%;
      }

      .tooltip-text {
        @include text-style(15px, 400, $white);
        text-align: center;
        line-height: 160%;
      }
    }
  }

  .reduce-gap {
    position: relative;
    right: 6px;
  }
}
