<div class="thread-messages scrollable" #scrollContainer [ngClass]="{ 'ready': messagesReady, 'flex-end': isMessage}"
  (scroll)="onScroll()">

  <ng-container *ngIf="(isThread)">
    <div class="thread-padding-top"></div>
  </ng-container>

  <ng-container *ngIf="(isMessage)">
    <div class="message-padding-top"></div>

    <ng-container
      *ngIf="messageContext?.type === 'channel' && activeChannel && activeChannel.createdById === currentUser?.id; else checkUser">
      <div class="intro">
        <span class="intro-name"># {{ activeChannel.name }}</span>

        <p class="intro-text">Du hast diesen Channel {{ formatRelativeDayLowercaseNoTime(activeChannel.createdAt) }}
          erstellt. Das ist der Anfang des Channels <span class="purple-color"># {{
            activeChannel.name
            }}</span>
        </p>
      </div>
    </ng-container>

    <ng-template #checkUser>
      <ng-container
        *ngIf="messageContext?.type === 'direct' && messageContext?.receiverId !== currentUser?.id && activeUser && activeUser.id !== currentUser?.id; else selfUser">
        <div class="intro">
          <div class="intro-img-box">
            <img class="user-avatar" [src]="activeUser.photoURL" alt="Profilbild">
            <span class="intro-name">{{ activeUser.displayName }}</span>
          </div>

          <p class="intro-text">Diese Unterhaltung findet nur zwischen <span class="purple-color">&#64; {{
              activeUser.displayName
              }}</span> und dir statt.
          </p>
        </div>
      </ng-container>

      <ng-template #selfUser>
        <ng-container
          *ngIf="messageContext?.type === 'direct' && messageContext?.receiverId === currentUser?.id && activeUser && activeUser?.id === currentUser?.id">
          <div class="intro">
            <div class="intro-img-box">
              <img class="user-avatar" [src]="activeUser.photoURL" alt="Profilbild">
              <span class="intro-name">{{ currentUser.displayName }} (Du)</span>
            </div>

            <p class="intro-text">
              <span class="bold">Dieser Raum ist nur für dich da.</span> Mache dir Notizen, liste deine To-dos auf oder
              bewahre Links und Dateien griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst besprechen.
            </p>
          </div>

        </ng-container>

      </ng-template>
    </ng-template>
  </ng-container>

  <ng-container *ngFor="let msg of isThread ? filteredMessages : messages; let i = index; trackBy: trackByMessageId">

    <!-- Neue Tageslinie -->
    <ng-container *ngIf="isMessage && isNewDay(msg.timestamp, messages[i - 1]?.timestamp)">
      <div class="date-divider">
        <div class="date-line"></div>
        <div class="date-text">{{ formatDate(msg.timestamp) }}</div>
        <div class="date-line"></div>
      </div>
    </ng-container>

    <!-- Nachricht -->

    <app-single-message [currentUser]="currentUser" [msg]="msg" [i]="i" [users]="users" [isThread]="isThread"
      [messages]="messages" [isMessage]="isMessage" (messageEdited)="onMessageEdited($event)"
      (threadStart)="openThread($event)" (emojiUsageChanged)="onEmojiUsageChanged($event)" [sortedEmojis]="sortedEmojis"
      [emojis]="emojis" [viewMode]="viewMode" [activeUser]="activeUser" (contextSelected)="onContextSelected($event)"
      (userSelected)="onUserSelected($event)">
    </app-single-message>

    <!-- Trennlinie für Antworten im Thread -->
    <ng-container *ngIf="isThread">
      <div *ngIf="i === 0 && filteredMessages.length > 1" class="thread-replies-divider">
        <p>
          {{ filteredMessages.length - 1 }}
          {{ filteredMessages.length - 1 === 1 ? 'Antwort' : 'Antworten' }}
        </p>
        <div class="line"></div>
      </div>
    </ng-container>
  </ng-container>
</div>