$mobile-xxs: 360px; 
$mobile-xs: 400px; 
$mobile-sm: 440px; 
$mobile-md: 560px; 
$mobile-lg: 680px; 
$mobile-xl: 896px;
$tablet-md: 1080px;
$tablet-lg: 1440px;
$desktop-l: 1920px;
$desktop-xl: 2400px;