$blue: #0000ff;
$white: white;
$black: black;
$grey: #eceefe; //Bg color
$purple-1: #444df2;
$purple-2: #797ef3;
$purple-3: #535af1;
$light-purple: #adb0d9; // Lines
$text-gray: #686868;
$online-green: #92c83e;
$rosa-error: #ed1e79;
$email-color: #1381ff;