@mixin dFlex($jc: center, $ai: center, $g: none, $f: none) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
  flex-direction: $f;
}

@mixin text-style($size: 18px, $weight: 400px, $color: "black") {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin transition() {
  transition: all 100ms ease-in;
}
