@mixin dFlex($jc: center, $ai: center, $g: none, $f: none) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
  flex-direction: $f;
}

@mixin text-style($weight, $size, $color) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
}
