<div  class="main-container">
    <div  class="main-container">
        <div class="back-button-container">
            <img (click)="router.switchRoute('/')" src="assets/img/arrow_back.svg" alt="back">
            <h2 class="color-blue">Konto erstellen</h2>
        </div>
        <span>Mit deinem Namen und deiner E-Mail Adresse hast du dein neues DABubble-Konto.</span>
        <app-input [placeholder]="'Name und Nachnahme'" [img]="'name.svg'"></app-input>
        <app-input [placeholder]="'max-mustermann@mustermail.com'" [img]="'email.svg'"></app-input>
        <app-input [placeholder]="'Password'" [img]="'password.svg'"></app-input>
        <div class="checkbox-container">
            <div id="checkbox" (click)="acceptPrivacy()" class="checkbox"></div>
            <div>
                <span>Ich stimme der </span>
                <a (click)="router.switchRoute('/privacy')">Datenschutzerklärung</a>
                <span> zu.</span>
            </div>
        </div>
        <div class="button-container">
            <button>Weiter</button>
        </div>
    </div>
</div>