@import "../styles/mix-in.scss";

div {
    @include dFlex($jc: none);
    padding: 0 20px;
    img {
        margin-right: -38px;
        z-index: 1;
        height: 26px;
        width: 24px;
    }

    input {
        padding-left: 48px;
        width: 250px;
        height: 32px;
        border-radius: 24px;
        border: 1.5px rgba(0, 0, 0, 0.3) solid;
    }
}

.none {
    display: none;
}

.distance {
    padding-left: 12px !important;
}

.input-distance {
    margin: 0 -34px;
}

.flex-row {
    flex-direction: row-reverse;
}