@import "../styles/mix-in.scss";
@import "../styles/color.scss";

div {
  @include dFlex($jc: none);
  padding: 0 20px;

  img {
    z-index: 1;
    height: 26px;
    width: 24px;
  }

  input {
    text-align: left;
    padding-left: 75px;
    height: 32px;
    border-radius: 24px;
    border: none;
    background-color: $grey;
    font-family: 'Nunito';
  }

  input::placeholder {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.7;
  }

  input:focus::placeholder {
  opacity: 0; 
  transition: opacity 0.2s ease; 
}
}

.none {
  display: none;
}

.distance {
  padding-left: 18px !important;
}

.input-distance {
  margin: 0 -34px;
}

//Login 
.input-icon {
  position: absolute;
  left: 48px;
  top: 50%;
  transform: translateY(-50%);


}

.flex-row {
  flex-direction: row-reverse;
}

.input-prefix-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  >img {
    width: 24px;
    height: 24px;
  }
}

.input-prefix-wrapper input {
  padding-left: 75px;
}

.input-prefix-wrapper .input-prefix-icon {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  height: 22px;
  width: 22px;
  object-fit: contain;
  pointer-events: none;
}

:host-context(.with-icon) .input-prefix-wrapper input {
  padding-left: 42px !important;
}

.error {
  border: red 1px solid !important;
}