<div class="members-overlay-backdrop">
  <div class="members-overlay-card">
    <div class="members-overlay-header">
      <span class="members-title">Mitglieder</span>
      <button class="close-btn" (click)="close.emit()">
        <img src="assets/img/close/close.svg" alt="Schließen"/>
      </button>
    </div>
    <div class="members-list" [class.scrollbar]="members.length > 3">
      <div class="member-name" *ngFor="let member of members" [class.current-user]="auth.user.email === member.email">
        <img src="{{ member.photoURL }}" alt="profile-picture">
        {{ member.displayName }}
        <span *ngIf="auth.user.email === member.email"> (Du)</span>
      </div>
    </div>
    <button class="add-members-btn" (click)="addMember.emit()">
      <span class="add-members-icon">
        <img src="assets/img/channel/members-add-button.png" alt="Mitglieder hinzufügen"/>
      </span>
      Mitglieder hinzufügen
    </button>
  </div>
</div>