<div [ngClass]="{ 'thread-container': isThread, 'message-container': isMessage }">
  <div class="message-content">
    <!-- TODO: In einem Channel muss der Channel-Titel angezeigt werden. Der Channel muss dann an <app-messages-textarea weitergegeben werden  -->
    <app-messages-header [mode]="mode" [starterMessage]="starterMessage" (closeThreadWindow)="onCloseClick()"
      [activeChannel]="activeChannel" (contextSelected)="onContextSelectedFromHeader($event)"></app-messages-header>

    <app-messages [mode]="mode" [starterMessage]="starterMessage" [userId]="userId" [messageContext]="messageContext"
      (threadStart)="onStartThread($event.starterMessage, $event.userId)"
      [activeChannel]="activeChannel"></app-messages>
    <div class="message-textarea">
      <app-messages-textarea [mode]="mode" [starterMessage]="starterMessage" [textInput]="textInput"
        (messageSent)="onMessageSent()" placeholder="Nachricht schreiben..."
        [messageContext]="messageContext"></app-messages-textarea>
    </div>
  </div>
</div>