<div class="message-header" [ngClass]="{
    'thread-header-height': isThread,
    'message-header-height': isMessage
  }">
  <ng-container *ngIf="isMessage">
    <div class="message-header-content">
      <div class="message-header-content-text" (mouseenter)="arrowHover = true" (mouseleave)="arrowHover = false"
        (click)="activeChannel ? openChannelOverlay() : null">
        <ng-container *ngIf="activeUser && viewUser; else channelHeader">
          <div class="header-user-info" (click)="openUserProfileOverlay()"
            style="cursor:pointer; display: flex; align-items: center;">
            <img class="header-user-avatar" [src]="viewUser.photoURL" alt="Profilbild"
              style="width:40px; height:40px; border-radius:50%; margin-right:10px;">
            <span class="header-user-name">{{ viewUser.displayName }}</span>
          </div>
        </ng-container>
        <ng-template #channelHeader>
          <h2 *ngIf="activeChannel; else defaultTitle">
            # {{ activeChannel.name }}
          </h2>
          <img [src]="arrowHover
              ? './assets/img/channel/arrow_down_hover.png'
              : './assets/img/channel/keyboard_arrow_down.png'" />
          <ng-template #defaultTitle>
            <h2>Neue Nachricht</h2>
          </ng-template>
        </ng-template>
      </div>

      <div class="channel-members-row" *ngIf="activeChannel">
        <div class="members-overview" (click)="openMembersOverlay()">
          <ng-container *ngFor="let member of activeChannel.members">
            <img class="member-picture" [src]="loadMember()" />
          </ng-container>
        </div>

        <button class="add-member-btn" (click)="openAddMemberOverlay()">
          <img src="./assets/img/channel/members-add-button.png" alt="" />
        </button>
      </div>
    </div>

    <!-- Empfänger-Eingabe -->
    <!-- <div class="recipient-search">
      <input
        #searchInput
        type="search"
        placeholder="An: #channel oder @jemand oder E-Mail Adresse"
        [(ngModel)]="textInput"
        (input)="onSearch($event)"
      />
    </div> -->
  </ng-container>

  <ng-container *ngIf="isThread">
    <div class="message-header-content">
      <div class="message-header-content-text">
        <h2>Thread</h2>
        <p>{{ threadSymbol }}</p>
        <p>{{ threadTitle }}</p>
      </div>
      <div class="close-button" (click)="closeThread()">
        <img src="assets/img/close/close.svg" class="default" />
        <img src="assets/img/close/close-hover.svg" class="hover" />
      </div>
    </div>
  </ng-container>
</div>

<!-- SUCHERGEBNISSE -->
<div class="search-results" [class.hidden]="!hasSearchResults" [style.top.px]="mentionBoxPosition.top"
  [style.left.px]="mentionBoxPosition.left">
  <ul>
    <!-- Treffer: Email -->
    <li *ngFor="let user of searchResultsEmail" (click)="selectUser(user)">
      <strong>{{ user.email }}</strong>
    </li>

    <!-- Treffer: @User mit Bild & Online-Status -->
    <li class="profile-user" *ngFor="let user of searchResultsUser" (click)="selectUser(user)">
      <div class="profile-icon">
        <img class="profile-pic" [src]="user.photoURL || 'assets/img/profilepic/fallback.png'"
          alt="{{ user.displayName }}" />
        <img *ngIf="user.state" class="profile-online" src="./assets/img/profilepic/online-user.png" alt="online" />

      </div>
      <div class="mention-user-name">{{ user.displayName }}</div>
    </li>

    <!-- Treffer: #Channel -->
    <li *ngFor="let channel of searchResultsChannels" (click)="selectChannel(channel)">
      <strong>#{{ channel.name }}</strong>
    </li>

    <!-- Treffer: Nachricht -->
    <li *ngFor="let msg of searchResultsMessages" (click)="selectSearchResult(msg)">
      <div>{{ msg.text }}</div>
      <div class="meta">{{ msg.name }} • {{ msg.timestamp }}</div>
    </li>
  </ul>
</div>

<!-- Overlays -->
<app-channel-members-overlay *ngIf="showMembersOverlay && activeChannel" [members]="activeChannel.members"
  (close)="showMembersOverlay = false"></app-channel-members-overlay>

<app-add-member-overlay *ngIf="showAddMemberOverlay" [channel]="activeChannel"
  (close)="showAddMemberOverlay = false"></app-add-member-overlay>

<app-channel-details-overlay *ngIf="showChannelOverlay && activeChannel" [channel]="activeChannel"
  (close)="closeChannelOverlay()">
</app-channel-details-overlay>