@import "./../../../shared/styles/mix-in.scss";
@import "./../../../shared/styles/color.scss";
@import "./../../../shared/styles/breakpoint.scss";

* {
  margin: 0;
}

:host {
  width: 100%;
}

.thread-header-height {
  height: 107px;
}

.message-header-height {
  min-height: 96px;
}

.message-header {
  width: 100%;
  border-top-left-radius: 30px; //Bitte nicht löschen
  border-top-right-radius: 30px; //Bitte nicht löschen
  box-shadow: 0px 2px 10px 0px #00000014;
  clip-path: inset(0px 0px -10px 0px); //Bitte nicht löschen
  

  .message-header-content {
    width: 100%;
    @include dFlex($jc: space-between, $ai: center, $g: 0px, $f: row);
    padding: 32px 40px;
    cursor: pointer;

    .message-header-content-text:hover h2 {
      color: $purple-3;
    }

    .message-header-content-text {
      @include dFlex($jc: flex-start, $ai: center, $g: 5px, $f: row);
      padding: 8px 24px;
      border-radius: 30px;

      &:hover {
        background-color: $grey;
      }

      h2 {
        @include text-style(24px, 700, $black);
        font-family: 'Nunito';
      }

      p {
        @include text-style(14px, 400, $purple-2);
      }
    }
  }

  .close-button {
    @include hover-image-swap(40px, 40px);
  }
}

.recipient-search {
  width: 100%;
  padding: 20px 40px;
  position: relative;

  input {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: 1px solid $light-purple;
    padding: 0 15px;
    font-size: 16px;
    font-family: "Nunito", sans-serif;

    &::placeholder {
      color: $text-gray;
    }
  }
}

.search-results {
  position: fixed; 
  top: 130px; 
  left: 40px; 
  width: 400px; 
  background-color: $white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #535af1 transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }

  ul {
    margin: 0;
    padding: 10px;
    list-style: none;

    li {
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      font-family: "Nunito", sans-serif;

      &:hover {
        background-color: $light-purple;
        color: $white;
      }
    }
  }
}


.member-picture {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

@media (max-width: $mobile-xl) {

  .message-header .message-header-content .message-header-content-text h2 {
    font-size: 20px;
  }
}