@import "../../shared/styles/color.scss";
@import "../../shared/styles/mix-in.scss";

.main-div {
    padding: 32px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    position: fixed;
    background-color: white;
    height: 417px;
    width: 250px;
    top: 84px;
    right: 5px;
}

.profile {
    @include dFlex($jc: space-between);
}