@import "../../shared/styles/color.scss";
@import "../../shared/styles/mix-in.scss";
@import "../../shared/styles/flexbox.scss";

.main-div {
    position: fixed;
    top: 84px;
    right: 5px;
    padding: 24px 20px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: $white;
    height: 550px;
    width: 275px;
    @include dFlex($jc: none, $ai: none,$f: column, $g: 24px);
}

.profile {
    @include dFlex($jc: space-between);
    button {
        font-size: 22px;
        background-color: white;
        border: 0;
        border-radius: 12px;
    }
}

.user-image-container {
    @include dFlex($ai: none);
    >img {
        height: 140px;
        width: 140px;
        border-radius: 82px;
    }
}

.status {
    @include dFlex($jc: none, $g: 12px);
    >div {
        height: 16px;
        width: 16px;
        border-radius: 10px;
        background-color: $online-green;
    }
}

.email {
    @include dFlex($jc: space-between);
    >div {
        @include dFlex($g: 6px);
    }
}

.check-email {
    color: red;
    font-size: 15px;
    margin-top: -12px;
    text-align: center;
}

.send-button {
    color: blue;
    font-size: 15px;
}

.grey-send-button {
    color: gray !important;
    cursor: no-drop;
}

.profile-message-btn {
  margin-top: 16px;
  background: $purple-1;
  color: #fff;
  border: none;
  border-radius: 24px;
  padding: 12px 32px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
}