<div class="main-div">
  <div class="profile">
    <span>Profil</span>
    <button (click)="closeProfilView()">X</button>
  </div>
  <div class="user-image-container">
    <img src="{{ user.photoURL }}" alt="" />
  </div>
  <div class="d_flex_s_b">
    <b><span>{{ user.displayName }}</span></b>
    <a (click)="openEditDialog();">Bearbeiten</a>
  </div>
  <div class="status">
    <div></div>
    <span>Aktive</span>
  </div>
  <div class="email">
    <img src="./assets/img/input/email.svg" alt="email" />
    <span>E-Mail Adresse</span>
  </div>
  <a href="mailto: {{ user.email }}">{{ user.email }}</a>
</div>
