<div class="members-overlay-backdrop">
  <div class="members-overlay-card">
    <div class="members-overlay-header">
      <span class="members-title">Mitglieder</span>
      <button class="close-btn" (click)="close.emit()">
        <img src="assets/img/close/close.svg" alt="Schließen" />
      </button>
    </div>
    <div class="members-list">
      <div class="member-name" *ngFor="let member of members">
        {{ member.displayName }}<span *ngIf="member.isCurrentUser"> (Du)</span>
      </div>
    </div>
    <button class="add-members-btn" (click)="addMembers.emit()">
      <span class="add-members-icon">
        <img src="assets/img/channel/members-add-button.png" alt="Mitglieder hinzufügen" />
      </span>
      Mitglieder hinzufügen
    </button>
  </div>
</div>