
<div class="df_fd_c message-box">
  <div class="header">
      <div class="df_fd_c gap-20">
          <div class="title">Neue Nachricht</div>
          <input #searchInput type="search" Placeholder="An: #channel oder @jemand oder E-Mail Adresse" >
          <div class="search-icon-wrapper"></div>
          <div class="search-results">
            <ul>
              <li>
                <strong></strong>
              </li>
              <li >
                <strong></strong>
              </li>
              <li >
                <strong></strong>
              </li>
            </ul>
          </div>
      </div>
  </div>
  <div class="content"></div>
    <textarea
      class="textarea"
      placeholder="Starte eine neue Nachricht"
      rows="5">
    </textarea>
  </div>



