@import "./../../shared/styles/mix-in.scss";
@import "./../../shared/styles/color.scss";

.thread-container {
  background-color: #ffffff;
  // width: 485px;
  height: 940px;
  border-radius: 30px;
}

.thread-content {
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 0px, $f: column);
  padding: 24px 0;
  height: 100%;
}

.thread-header {
  height: 107px;
  width: 100%;
  box-shadow: 0px 2px 10px 0px #00000014;
  clip-path: inset(0px 0px -10px 0px);

  .thread-header-content {
    width: 100%;
    @include dFlex($jc: space-between, $ai: center, $g: 0px, $f: row);
    padding: 32px 40px;

    .thread-header-content-text {
      @include dFlex($jc: flex-start, $ai: center, $g: 5px, $f: row);

      h2 {
        @include text-style(24px, 700, $black);
      }
    }
  }

  .close-button {
    @include hover-image-swap(40px, 40px);
  }
}

.recipient-search {
  width: 100%;
  padding: 20px 40px;
  position: relative;

  input {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: 1px solid $light-purple;
    padding: 0 15px;
    font-size: 16px;
    font-family: "Nunito", sans-serif;

    &::placeholder {
      color: $text-gray;
    }
  }
}

.search-results {
  position: absolute;
  top: 80px;
  left: 40px;
  right: 40px;
  background-color: $white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;

  ul {
    margin: 0;
    padding: 10px;
    list-style: none;

    li {
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      font-family: "Nunito", sans-serif;

      &:hover {
        background-color: $light-purple;
        color: $white;
      }
    }
  }
}

.thread-textarea {
  width: 100%;
  padding: 24px 40px;
}
