<div  class="main-container">
    <div  class="main-container">
        <div class="back-button-container">
            <img (click)="router.switchRoute('/')" src="assets/img/arrow_back.svg" alt="back">
            <h2 class="color-blue">Konto erstellen</h2>
        </div>
        <span>Mit deinem Namen und deiner E-Mail Adresse hast du dein neues DABubble-Konto.</span>
        <app-input #name (valueChange)="setValue($event, 'name'); validate($event, 'name');" [placeholder]="'Name und Nachnahme'" [img]="'name.svg'"></app-input>
        <app-input #email (valueChange)="setValue($event, 'email'); validate($event, 'email');" [placeholder]="'max-mustermann@mustermail.com'" [img]="'email.svg'"></app-input>
        <app-input #password (valueChange)="setValue($event, 'password'); validate($event, 'password');" [placeholder]="'Password'" [img]="'password.svg'" [type]="'password'"></app-input>
        <div class="checkbox-container">
            <div id="checkbox" (click)="acceptPrivacy()" class="checkbox"></div>
            <div>
                <span>Ich stimme der </span>
                <a (click)="router.switchRoute('/privacy')">Datenschutzerklärung</a>
                <span> zu.</span>
            </div>
        </div>
        <span *ngIf="error" class="error-message">Email oder Password sind falsch !</span>
        <div class="button-container">
            <button (click)="registerUser()">Weiter</button>
        </div>
    </div>
</div>