@import "./app/shared/styles/mix-in.scss";
@import "./app/shared/styles/color.scss";

@font-face {
    font-family: 'Nunito';
    src: url('assets/fonts/nunito/Nunito-VariableFont_wght.ttf') format('woff2'),
}

a {
    text-decoration: none;
    cursor: pointer;
}

.main-container {
    @include dFlex($g: 24px, $f: column);
    height: 100vh;
    >.main-container {
        background-color: $white;
        border-radius: 24px;
        padding: 12px;
        height: 65vh;
    }
    >span {
        text-align: center;
    }
}

.color-blue {
    color: $blue;
}