@import "./app/shared/styles/mix-in.scss";
@import "./app/shared/styles/color.scss";

@font-face {
  font-family: "Nunito";
  src: url("/assets/fonts/nunito/Nunito-VariableFont_wght.ttf") format("woff2");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

a {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.main-container {
  @include dFlex($jc: none, $g: 18px, $f: column);
  height: 100vh;
  padding: 18px;
  > .main-container {
    background-color: $white;
    border-radius: 24px;
    padding: 12px;
    height: 540px;
  }
  > span {
    text-align: center;
  }
}

.color-blue {
  color: $blue;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-width: thin;
  scrollbar-color: $purple-3 transparent;
}

// TODO Scrollbars verwenden wenn notwendig oder ausblenden

// ::-webkit-scrollbar {
//   width: 6px;
// }

// ::-webkit-scrollbar-track {
//   background: transparent;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: $purple-1;
//   border-radius: 6px;
//   border: 2px solid transparent;
//   background-clip: padding-box;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: $purple-2;
// }

// ::-webkit-scrollbar-button {
//   display: none;
//   height: 0;
//   width: 0;
// }

// ::-webkit-scrollbar-button:vertical:start:increment,
// ::-webkit-scrollbar-button:vertical:end:decrement {
//   display: none;
// }
