@import "./app/shared/styles/mix-in.scss";
@import "./app/shared/styles/color.scss";

@font-face {
  font-family: "Nunito";
  src: url("/assets/fonts/nunito/Nunito-VariableFont_wght.ttf") format("woff2");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

a {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  
}

.main-container {
  @include dFlex($jc: none, $g: 18px, $f: column);
  height: 100vh;
  padding: 18px;
  font-family: 'Nunito';
  > .main-container {
    background-color: $white;
    border-radius: 24px;
    padding: 30px 30px;
    height: 660px;
  }
  > span {
    text-align: center;
    font-size: 18px;
  }
}

.color-blue {
  font-size: 46px;
  color: $purple-1;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 4px;
  white-space: nowrap;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-width: thin;
  scrollbar-color: $purple-3 transparent;
}

@media (max-width: 500px) {
  .main-container {
    >.main-container {
      width: 350px;
    }

    .google-sign-in {
      width: 300px !important;
    }

    .secondary {
      padding: 12px !important;
      width: 110px;
    }
  }
}


/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;               
  height: 8px;              
}

::-webkit-scrollbar-track {
  background: #f1f1f1;      
  border-radius: 10px;      
}

::-webkit-scrollbar-thumb {
  background: $purple-2;    
  border-radius: 10px;      
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: darken($purple-2, 10%);  
}

* {
  scrollbar-width: thin;
  scrollbar-color: $purple-2 #f1f1f1;
}
