<nav>
    <div class="devspace-content">
        <div class="devspace-headline">
            <div class="headline-title">
                <img class="workspace-logo" src="./assets/img/devspace/workspace-logo.svg" alt="logo">
                <h1>Devspace</h1>
            </div>
            <img class="edit-icon" src="./assets/img/devspace/edit.png" alt="edit">
        </div>



        <div class="devspace-channel-wrapper">
            <div class="devspace-channel">
                <div class="channel-title-arrow">
                    <img src="./assets/img/devspace/arrow_drop_down.png" alt="arrow">

                    <div class="channel-title">
                        <img src="./assets/img/devspace/workspaces-icon-default.png" alt="workspace">
                        <h2>Channels</h2>
                    </div>
                </div>

                <img src="./assets/img/devspace/add.png" alt="add">
            </div>

            <div class="devspace-channel-content">
                <img src="./assets/img/devspace/tag-default.png" alt="#">
                <span>Entwicklerteam</span>
            </div>

            <div class="devspace-channel-add">
                <img src="./assets/img/devspace/add-circle.png" alt="user">
                <span>Channel hinzufügen</span>
            </div>

        </div>


        <div class="devspace-messages">
            <div class="message-title-arrow">
                <img src="./assets/img/devspace/arrow_drop_down.png" alt="arrow">
                <div class="message-title">
                    <img src="./assets/img/devspace/account-circle-default.png" alt="account">
                    <h2>Direktnachrichten</h2>
                </div>
            </div>

            <div class="profile-users">
                <div class="profile-user">
                    <div class="profile-icon">
                        <img class="profile-pic" src="./assets/img/profilepic/frederik.png" alt="user">
                        <img class="profile-online" src="./assets/img/profilepic/online-user.png" alt="online">
                    </div>
                    <p>Frederik Beck (Du)</p>
                </div>

                <div class="profile-user">
                    <div class="profile-icon">
                        <img class="profile-pic" src="./assets/img/profilepic/sofia.png" alt="user">
                        <img class="profile-online" src="./assets/img/profilepic/online-user.png" alt="online">
                    </div>
                    <p>Sofia Müller</p>
                </div>

                <div class="profile-user">
                    <div class="profile-icon">
                        <img class="profile-pic" src="./assets/img/profilepic/noah.png" alt="user">
                        <img class="profile-online" src="./assets/img/profilepic/online-user.png" alt="online">
                    </div>
                    <p>Noah Braun</p>
                </div>

                <div class="profile-user">
                    <div class="profile-icon">
                        <img class="profile-pic" src="./assets/img/profilepic/elise.png" alt="user">
                        <img class="profile-online" src="./assets/img/profilepic/online-user.png" alt="online">
                    </div>
                    <p>Elise Roth</p>
                </div>

                <div class="profile-user">
                    <div class="profile-icon">
                        <img class="profile-pic" src="./assets/img/profilepic/elias.png" alt="user">
                        <img class="profile-online" src="./assets/img/profilepic/online-user.png" alt="online">
                    </div>
                    <p>Elias Neumann</p>
                </div>

                <div class="profile-user">
                    <div class="profile-icon">
                        <img class="profile-pic" src="./assets/img/profilepic/steffen.png" alt="user">
                        <img class="profile-online" src="./assets/img/profilepic/online-user.png" alt="online">
                    </div>
                    <p>Steffen Hoffmann</p>
                </div>
            </div>



        </div>
    </div>


</nav>