<div (click)="toggleWorkspace()" (mouseenter)="isWorkspaceHovered = true" (mouseleave)="isWorkspaceHovered = false"
    style="position: fixed; left: -40px; top: 50%; cursor: pointer; z-index: 2000;">
    <img [src]="
            isWorkspaceOpen
                ? (isWorkspaceHovered
                    ? 'assets/img/devspace/workspace/workspace-default-hover.svg'
                    : 'assets/img/devspace/workspace/workspace-default.svg')
                : (isWorkspaceHovered
                    ? 'assets/img/devspace/workspace/workspace-show-hover.svg'
                    : 'assets/img/devspace/workspace/workspace-show.svg')
                " alt="Workspace Menü" style="width: 100px; height: 300px;">
</div>

<nav *ngIf="isWorkspaceOpen">
    <div class="devspace-content">
        <div class="devspace-headline">
            <div class="headline-title">
                <img class="workspace-logo" src="./assets/img/devspace/workspace-logo.svg" alt="logo">
                <h1>Devspace</h1>
            </div>
            <img class="edit-icon" src="./assets/img/devspace/edit.png" alt="edit">
        </div>



        <div class="devspace-channel-wrapper">
            <div class="devspace-channel">

                <div class="channel-title-arrow" (click)="toggleChannels()" (mouseenter)="isChannelHovered = true"
                    (mouseleave)="isChannelHovered = false">

                    <img [src]="getChannelArrowIcon()" alt="arrow">

                    <div class="channel-title">
                        <img [src]="isChannelHovered ? './assets/img/devspace/workspace-icon-hover.png': './assets/img/devspace/workspaces-icon-default.png'"
                            alt="workspace">
                        <h2>Channels</h2>
                    </div>
                </div>

                <img src="./assets/img/devspace/add.png" alt="add" (click)="showAddChannelOverlay()"
                    style="cursor:pointer;">
            </div>

            <div *ngIf="isChannelOpen">
                <!-- <div class="devspace-channel-content" (mouseenter)="hoveredChannel = 'Entwicklerteam'"
                    (mouseleave)="hoveredChannel = null" (click)="selectChannel('Entwicklerteam')" [ngClass]="{
                        'hovered': hoveredChannel === 'Entwicklerteam',
                        'active': activeChannel === 'Entwicklerteam'
                    }">
                    <img [src]="
                        activeChannel === 'Entwicklerteam'
                            ? './assets/img/devspace/tag-click.png'
                            : hoveredChannel === 'Entwicklerteam'
                            ? './assets/img/devspace/tag-hover.png'
                            : './assets/img/devspace/tag-default.png'
                        " alt="#">
                    <span>Entwicklerteam</span>
                </div> -->
                <div [class.scrollbar-channel]="channels.length > 4">
                    <ng-container *ngFor="let channel of channels">
                        <div class="devspace-channel-content" (mouseenter)="hoveredChannel = channel.id"
                            (mouseleave)="hoveredChannel = null" (click)="selectChannel(channel)" [ngClass]="{
                                'hovered': hoveredChannel === channel.id,
                                'active': activeChannel?.id === channel.id
                            }">
                            <img [src]="
                                activeChannel?.id === channel.id
                                    ? './assets/img/devspace/tag-click.png'
                                    : hoveredChannel === channel.id
                                        ? './assets/img/devspace/tag-hover.png'
                                        : './assets/img/devspace/tag-default.png'
                            " alt="#">
                            <span>{{ channel.name }}</span>
                        </div>
                    </ng-container>
                </div>


                <div class="devspace-channel-add" (click)="showAddChannelOverlay()" style="cursor:pointer;">
                    <img [src]=" isChannelHovered ? './assets/img/devspace/add_circle-hover.png' : './assets/img/devspace/add-circle.png'"
                        alt="user">
                    <span>Channel hinzufügen</span>
                </div>
            </div>
        </div>


        <div class="devspace-messages">
            <div class="message-title-arrow" (click)="toggleMessage()" (mouseenter)="isMessageHovered = true"
                (mouseleave)="isMessageHovered = false">
                <img [src]="getMessageArrowIcon()" alt="arrow">
                <div class="message-title">
                    <img [src]=" isMessageHovered ?  './assets/img/devspace/account-circle-hover.png': './assets/img/devspace/account-circle-default.png'"
                        alt="account">
                    <h2>Direktnachrichten</h2>
                </div>
            </div>

            <div class="profile-user hovered guest-user" *ngIf="isGuestUser()">
                <div class="profile-icon">
                    <img alt="gast-user" class="profile-pic" src="./assets/img/profilepic/profile.svg">
                </div>
                <p>Gast</p>
            </div>

            <div class="profile-users" *ngIf="isMessageOpen" [class.scrollbar]="users?.length > 6">
                <div class="profile-user" *ngFor="let user of users" (click)="setActiveUser(user)"
                    [ngClass]="{'hovered' : activeUser !== user, 'active' : activeUser === user}"
                    [class.active-user]="user?.email && auth.user?.email && user.email === auth.user.email"
                    [class.channel-open]="user?.email && auth.user?.email && user.email === auth.user.email && isChannelOpen">
                    <div class="profile-icon">
                        <img class="profile-pic" [src]="user?.photoURL" alt="user">
                        <img *ngIf="user?.state" class="profile-online" src="./assets/img/profilepic/online-user.png"
                            alt="online">
                    </div>
                    <p>{{user?.displayName}}</p>
                    <span *ngIf="user?.email && auth.user?.email && user.email === auth.user.email">(Du)</span>
                </div>
            </div>
        </div>
    </div>
</nav>